{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container justify-content-center min-vw-25 min-vh-25" style="height: 500px">
    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form onsubmit="return executeQuery();">
            <div class="form-row my-auto" style="padding-top: 200px">
                <div class="input-group">
                    <div class="input-group-prepend bg-white">
			    	    <span class="input-group-text rounded-right bg-white">
                            <i class="fas fa-search"></i>
                        </span>
			  	    </div>
                    <input type="text" class="form-control" name="q" id="id_q_large"
                           placeholder="URL, header..." required
                           oninvalid="this.setCustomValidity('Enter search query here')"
                        oninput="this.setCustomValidity('')"/>
                    </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}

<script type="text/javascript">
    function executeQuery() {
        let query = document.getElementById("id_q_large").value;
        window.location.replace("{% url 'search' %}?q=" + query); //
        return false;
    }
</script>
{% endblock %}